region              = ""
subnet_ids          = ["subnet-xxx", "subnet-yyy"]
security_group_ids  = ["sg-zzz"]

# These are the names of the Lambda functions
production_name = "permit_replication"
development_name = "permit_replication_dev"